<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type='text/css' href="static/style.css">
   <script src='../index.js'></script>
   <title>Mason Ware</title>
</head>
<body>
<header>
  <h1 style='text-align:center; padding-top: 7.5%; font-size:70px'>Mason Ware</h1>
  <nav>
       <ul class="nav">
           <li class='nav-item'>
               <a href="{{ url_for('about') }}" class="nav-link" data-bs-toggle="tab" >About</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('home') }}" class="nav-link" data-bs-toggle="tab" >Home</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('portfolio') }}" class="nav-link" data-bs-toggle="tab" >Portfolio</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('resources') }}" class="nav-link" data-bs-toggle="tab">Resources</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('resume') }}" class="nav-link" data-bs-toggle="tab" >Resume</a>
           </li>
       </ul>
       <div class="social-links" style="text-align: center; padding-top: 7.5px">
           <a class="social-links__anchor" href="https://www.linkedin.com/in/mason-ware-00a737146/" target='_block'>
             <img class="social-links__image" src="../static/resources/images/socials/linkedin.svg" alt="Linkedin logo" width="22.5" height="22.5">
           </a>
           <a href="https://github.com/masonrware" target='_block'>
             <img class="social-links__image" src="../static/resources/images/socials/github.svg" alt="Github logo" width="22.5" height="22.5">
           </a>
           <a class="social-links__anchor" href="" target="_block">
             <img class="social-links__image" src="../static/resources/images/socials/instagram.svg" alt="Instagram logo" width="22.5" height="22.5">
           </a>
       </div>
  </nav>
</header>
<main style='padding: 10% 15%'>
   <p>Hello, welcome to my website! I am a current student at Brandeis University studying Computer Science.</p><br>
   <p>I'm interested in Full-Stack Web Development, Systems Programming, Network Programming, and Cloud Architecture!</p><br>
   <p>Please use the site navigation above to find out more about me.</p>
   <img src='../static/resources/images/me.png' style='width: 55%; height: 75%; display: block;'>
   <small><caption class="text-muted" style='display: block'>^Me, in my favorite messy sweater.</caption></small>
   <br><br><p>This site was made using HTML, CSS, JS, and Flask for Python. Check out the source code <strong><a href='https://github.com/masonrware/updated-mason-ware-site' target="_block">here</a></strong>.</p>
</main>
</body>
<footer>
   <div style="text-align: left; bottom: 0; width: 100%; padding: 10px 5px">
       <div class="fixed-content-footer__copy">
       <p class="footer-copy__name" style='padding-left: 5%;'>©2022  Mason Ware</p>
   </div>
</footer>
</html>