
<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type='text/css' href="static/style.css">
   <script src='../index.js'></script>
   <title>Mason Ware</title>
</head>
<body>
<header>
  <h1 style='text-align:center; padding-top: 7.5%; font-size:70px'>Mason Ware</h1>
  <nav>
       <ul class="nav">
           <li class='nav-item'>
               <a href="{{ url_for('about') }}" class="nav-link" data-bs-toggle="tab" >About</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('home') }}" class="nav-link" data-bs-toggle="tab" >Home</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('portfolio') }}" class="nav-link" data-bs-toggle="tab" >Portfolio</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('resources') }}" class="nav-link" data-bs-toggle="tab">Resources</a>
           </li>
           <li class='nav-item'>
               <a href="{{ url_for('resume') }}" class="nav-link" data-bs-toggle="tab" >Resume</a>
           </li>
       </ul>
       <div class="social-links" style="text-align: center; padding-top: 7.5px">
           <a class="social-links__anchor" href="https://www.linkedin.com/in/mason-ware-00a737146/" target='_block'>
             <img class="social-links__image" src="../static/resources/images/socials/linkedin.svg" alt="Linkedin logo" width="22.5" height="22.5">
           </a>
           <a href="https://github.com/masonrware" target='_block'>
             <img class="social-links__image" src="../static/resources/images/socials/github.svg" alt="Github logo" width="22.5" height="22.5">
           </a>
           <a class="social-links__anchor" href="" target="_block">
             <img class="social-links__image" src="../static/resources/images/socials/instagram.svg" alt="Instagram logo" width="22.5" height="22.5">
           </a>
       </div>
  </nav>
</header>
<main style='padding: 10% 15%'>
   <strong><h1 style='font-size: 50px;'>Resources</h1></strong>
   <h3 style='color: #7b8ab8; padding-top: 0%;'><small>Stay in touch!</small></h3>
   <p style='padding-top: 10%'>
       <a href="mailto:masonware15@gmail.com">
           <img src="../static/resources/images/icons/email.svg" width='22.5px' height='22.5px' alt="Email icon"/>
       <span>masonware15@gmail.com</span>
     </a>
   </p><br>
   <p>
       <a href="sms:+13109903413">
           <img src="../static/resources/images/icons/phone.svg" width='22.5px' height='22.5px' alt="Email icon"/>
       <span>+1 (310)-990-3413</span>
     </a>
   </p><br>
</main>
</body>
<footer>
   <div style="text-align: left; bottom: 0; width: 100%; padding: 10px 5px">
       <div class="fixed-content-footer__copy">
       <p class="footer-copy__name" style='padding-left: 5%;'>©2022  Mason Ware</p>
   </div>
</footer>
</html>